{% extends "base_generic.html" %}

{% block content %}
    <h1>Listado de libros</h1>

    {% if libro_list %}
    <ul>

      {% for libro in libro_list %}
      <li>
        <a href="{{libro.get_absolute_url}}">{{ libro.titulo }}</a> ({{libro.ano}}, nº páginas: {{libro.pags}})
      </li>
      {% endfor %}

    </ul>

      <a href="/biblio/libros/create/">Crear nuevo libro</a>
    {% else %}
      <p>Actualmente no hay libros.</p>
      <a href="/biblio/libros/create/">Crear nuevo libro</a>
    {% endif %}       
{% endblock %}

